body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.3rem;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.red{
    background-color: rgba(237, 87, 87, 0.819);
}
.blue{
    background-color: rgba(77, 77, 223, 0.681);
}
.green{
    background-color: rgb(126, 215, 218);
}
.yellow{
    background-color: rgba(205, 247, 69, 0.633);
}
.flash{
    background-color: rgba(255, 226, 226, 0.954);
}
.usrflash{
    background-color: rgba(165, 255, 187, 0.751);
}
